ChallengeResponseAuthentication no
ForceCommand pp_client
LogLevel INFO
PasswordAuthentication no
PermitRootLogin no
PubkeyAuthentication yes
SyslogFacility AUTH
UseDNS no
Match Group unclaimed
    AcceptEnv PUBLIC_KEY
    ForceCommand claim_user
    PasswordAuthentication yes
    PermitEmptyPasswords yes
