ChallengeResponseAuthentication no
ForceCommand pp_client
LogLevel INFO
PasswordAuthentication no
PermitRootLogin no
PubkeyAuthentication yes
SyslogFacility AUTH
UseDNS no
Match Group newbs
    AcceptEnv PUBLIC_KEY
    ForceCommand enable_user
    PasswordAuthentication yes
    PermitEmptyPasswords yes
